<%- include('../partials/header')%>

<div class="row">
    <div class="col-md-6 mx-auto">
        <%- include('../partials/flash') %> 
        <form action="">
            <div>
                <label for="username" class="form-label">UserName:</label>
            </div>
        </form>
    </div>
</div>


<%- include('../partials/footer')%>