<%-include('../partials/header')%>
<%-include('../partials/navbar')%>
<%-include('../partials/flash')%>

<div class="container display-6 mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 mt-5">
        <div class="payment-canceled">
          <h2 class="text-center text-danger">Payment Canceled</h2>
          <p class="text-center">Unfortunately, your payment has been canceled.</p>
          <p class="text-center">Please try again later or contact support for assistance.</p>
          <div class="text-center">
            <a href="/products" class="btn btn-primary">Go to Homepage</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%-include('../partials/footer')%>